@tailwind base;
@tailwind components;
@tailwind utilities;

.borders {
  @apply border-2 border-red-500;
}

.center {
  @apply flex flex-col justify-center items-center;
}

.fs-1 {
  @apply text-3xl md:text-4xl lg:text-5xl;
}
.title {
  @apply text-rose-300 p-5 font-bold text-center;
}

.form {
  @apply m-5 p-5 flex flex-col gap-3 shadow border rounded;
}
.field {
  @apply relative;
}

.label {
  @apply absolute p-2 text-xs text-rose-300;
}

.input {
  @apply pt-7 p-2 w-full border rounded active:border-rose-300 active:outline-none focus:border-rose-300 focus:outline-none;
}

.link {
  @apply text-rose-300 hover:text-rose-400;
}

.button {
  @apply bg-rose-300 w-full p-3 rounded text-white font-bold hover:cursor-pointer hover:bg-rose-400;
}

.btn {
  @apply hover:text-rose-400;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Nanum Gothic", sans-serif;
}

nav div {
  font-family: "Permanent Marker", cursive;
}

nav ul {
  transition: all 0.3s ease-in-out;
}

main {
}

.list {
  display: grid;
  grid-template-columns: 1fr;
  padding: 5px;
}

.item-container {
  border-bottom: 1px solid lightgray;
}

.error-msg {
  padding: 5px 20px;
  font-size: 0.8rem;
  color: red;
}

/* Top */

.top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 0.8rem;
}

.toggle-btn {
  display: flex;
}

.toggle-btn * {
  margin-right: 10px;
  padding: 5px;
}

.hide {
  border: 1px solid lightgray;
  color: lightgray;
  cursor: pointer;
}

.show {
  background-color: pink;
  color: white;
  cursor: pointer;
}

.data {
  color: gray;
}

/* Pagination */
.pagination {
  display: flex;
  padding: 20px 10px 0 10px;
  justify-content: space-between;
}

.pagination button {
  border: none;
}

.pages {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.page:active,
.page:focus {
  color: pink;
}

.arrow {
  border: 1px solid red;
  background-color: pink;
  padding: 2px 5px;
  margin-right: 5px;
}
.arrow:last-child {
  margin-right: none;
}

.arrow i {
  background-color: pink;
  color: white;
}

.arrow:disabled {
  background-color: lightgray;
}

.arrow:disabled i {
  background-color: lightgray;
  color: white;
}

.white {
  color: white;
}
