@tailwind base;
@tailwind components;
@tailwind utilities;

.borders {
  @apply border-2 border-red-500;
}

.center {
  @apply flex flex-col justify-center items-center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Nanum Gothic", sans-serif;
}

nav div {
  font-family: "Permanent Marker", cursive;
}

title {
  font-family: "Permanent Marker", cursive;
}

main {
}

/* Form */
.form {
  width: 100%;

  background-color: lightgray;
  margin-bottom: 20px;
}

.form form {
  width: 100%;
  display: flex;
  padding: 10px;
  background-color: lightgray;
}

.form input[type="text"] {
  width: inherit;
  padding: 10px;
  border: none;
  margin: 5px;
}

.form input[type="text"]:focus,
.form input[type="text"]:active {
  border: 2px solid pink;
  outline: none;
}

.form button {
  margin: 5px;
  padding: 10px;
  outline: none;
  border: none;
  color: white;
  font-weight: 800;
  background-color: pink;
}

.form button:hover {
  background-color: palevioletred;
}

.list {
  display: grid;
  grid-template-columns: 1fr;
  padding: 5px;
}

.item-container {
  border-bottom: 1px solid lightgray;
}

.error-msg {
  padding: 5px 20px;
  font-size: 0.8rem;
  color: red;
}

/* Top */

.top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 0.8rem;
}

.toggle-btn {
  display: flex;
}

.toggle-btn * {
  margin-right: 10px;
  padding: 5px;
}

.hide {
  border: 1px solid lightgray;
  color: lightgray;
  cursor: pointer;
}

.show {
  background-color: pink;
  color: white;
  cursor: pointer;
}

.data {
  color: gray;
}

/* Item List */
.list-item {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 5px;
  width: 100%;
  font-size: 0.8rem;
}

.list-item * {
  align-self: center;
  font-size: 0.8rem;
}

.words {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.eng {
  font-weight: 600;
}

.kor {
}

/* edit */
.list-item form {
  width: 100%;
  display: flex;
}

.list-item input {
  border: 1px solid lightgray;
  width: 100%;
  padding: 2px;
  margin-right: 5px;
}

.list-item button {
  padding: 5px;
  border: none;
  color: lightgray;
}

.btns {
  text-align: right;
}

.btns * {
  padding: 5px;
  border: none;
  text-decoration: none;
  color: lightgray;
}

.btns *:hover {
  color: pink;
  cursor: pointer;
}

/* Pagination */
.pagination {
  display: flex;
  padding: 20px 10px 0 10px;
  justify-content: space-between;
}

.pagination button {
  border: none;
}

.pages {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.page:active,
.page:focus {
  color: pink;
}

.arrow {
  border: 1px solid red;
  background-color: pink;
  padding: 2px 5px;
  margin-right: 5px;
}
.arrow:last-child {
  margin-right: none;
}

.arrow i {
  background-color: pink;
  color: white;
}

.arrow:disabled {
  background-color: lightgray;
}

.arrow:disabled i {
  background-color: lightgray;
  color: white;
}

/* Tablet */
@media (min-width: 600px) {
  .list {
    display: grid;
    column-gap: 20px;
    grid-template-columns: 1fr 1fr;
  }

  .pages {
    justify-content: center;
  }

  .page {
    padding: 0 10px;
  }
}

.white {
  color: white;
}
/* Desktop */
@media (min-width: 900px) {
  .list {
    display: grid;
    column-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .pages {
    justify-content: center;
  }

  .page {
    padding: 0 10px;
  }
}

@media (min-width: 1300px) {
  .list {
    display: grid;
    column-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .pages {
    justify-content: center;
  }

  .page {
    padding: 0 10px;
  }
}
